.footerHeadingDesign{

  
    font-size: 25px;
    color: #fff;
}
.footerDesign{

    margin-top:5%;
    background-color:#011c38 !important;
    
}
.footerItems{
    font-size: 15px;
    margin-top: 1em !important;
}
