body *{
    font-family: "Open Sans"; 
}
.mainMessage{

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: #011c38 !important;
}
.mainMessageDetail{
    font-size: 20px !important;
    color:rgb(102, 101, 101);
    font-weight: bolder;
}
.introPlot{
    margin-top: 8%;
}